html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  height: 100%;
}
body {
  margin: 0;
  font-size: 1.6rem;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
@font-face {
  font-family: "Racing Sans One";
  src: url("./assets/RacingSansOne-Regular.ttf") format("truetype");
}
.btn {
  background: linear-gradient(180deg, #9b7ddd -27.45%, #805ad5 100%);
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 7px 40px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(180deg, #ac96da -27.45%, #8764d4 100%);
  border: 1px solid #ac96da;
}
.btn-secondary {
  color: #4a5568;
  background: none;
  border: 1px solid #4a5568;
  font-weight: 500;
}
.btn-secondary:hover {
  border: 1px solid #805ad5;
  background: none;
  color: #805ad5;
  text-decoration: none;
}
.cart {
  display: grid;
  grid-template-areas: "header header" "products summary";
  grid-template-columns: 1fr 280px;
  grid-template-rows: 50px auto;
  grid-column-gap: 10px;
  width: 100%;
}
.cart__header {
  grid-area: header;
}
.cart__products {
  width: 100%;
  grid-area: products;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.cart__product-list {
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.cart__product {
  width: 100%;
}
.cart__row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 40% 1fr 1fr 1fr;
  grid-template-areas: "image item select price btn";
  grid-template-rows: auto;
  align-items: center;
  margin: 1rem 0;
}
.cart__img-box {
  grid-area: image;
  margin-left: 1rem;
  width: 80px;
  height: 100px;
}
.cart__img {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cart__item-link {
  text-decoration: none;
  color: #4a5568;
  text-shadow: 0 1px 2px rgb(0 0 0 / 6%);
}
.cart__item {
  grid-area: item;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 1rem 0 2rem;
  letter-spacing: 0.08rem;
}
.cart__price {
  grid-area: price;
  color: #4a5568;
  margin: 0 1rem;
  font-weight: 500;
}
.cart__button-box {
  grid-area: btn;
  margin: 0 1rem;
}
.cart__select-box {
  grid-area: select;
  margin: 0 1rem;
}
.cart__summary {
  grid-area: summary;
  color: #4a5568;
  border: solid 1px #4a5568;
  border-radius: 8px;
  padding: 2rem 2rem 1rem 2rem;
  align-self: baseline;
}
.cart__summary-list {
  list-style: none;
  padding: 0;
}
.cart__subtotal {
  font-size: 1.6rem;
  font-weight: 500;
}
.cart__summary-btn {
  width: 100%;

  margin-top: 1rem;
}
/* header  */
.navbar__btn {
  margin: 0 5px;
}
.navbar {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 35rem;
  height: 100%;
}
.navbar-left {
  margin-bottom: -45px;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-right__button-cart {
  width: 2.8rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
  background-color: #ffffff;
  transition: transform 0.2s ease-out;
  margin-right: 5px;
}
.navbar-right__button {
  cursor: pointer;
  position: relative;
  border: none;
  padding: 0;
  background-color: #ffffff;
}
.navbar-right__cart-ico-qty {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -12px;
  width: 20px;
  height: 20px;
  padding: 0.1rem;
  background: #805ad5;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.navbar-right__button-cart:hover {
  transform: scale(1.11) rotate(5deg);
}
.navbar-right__cart-icon {
  border: none;
  width: 100%;
  height: 100%;
}
.navbar-left__logo-container,
.footer__logo-container {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.07em;
}
.footer__logo-container {
  transform: translateY(25px);
}
.navbar-left__logo-line,
.footer__logo-line {
  width: 150px;
  transform: translateX(18px);
}
.navbar-left__logo-link,
.footer__logo-link {
  text-decoration: none;
  color: currentColor;
}
.navbar-left__logo-title,
.footer__logo-title {
  display: flex;
  flex-direction: row;
  font-family: "Racing Sans One", sans-serif;
  font-size: 4rem;
  transform: translateY(-25px);
  text-shadow: 0 4px 8px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 8%);
}
.navbar-left__logo-text1,
.footer__logo-text1 {
  color: #4a5568;
}
.navbar-left__logo-text2,
.footer__logo-text2 {
  color: #805ad5;
}
.navbar-left__logo-description,
.footer__logo-description {
  font-size: 1.2rem;
  color: #828994;
  font-weight: 100;
  letter-spacing: 0.05rem;
  transform: translateY(-38px);
}
.main {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.message-box {
  align-self: baseline;
  width: calc(100% - 4rem);
  display: inline;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 1rem 2rem;
}
.message-box--error {
  background-color: #ffeaea;
  color: firebrick;
}
.message-box--info {
  background-color: #dcffdc;
  color: rgb(41, 100, 41);
}
.home__container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.product__card {
  margin: 2rem 1rem;
  width: 300px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  transition: box-shadow 0.2s;
  border-radius: 2%;
  background-color: #f3f3f3;
  border: solid 1px #e4e4e4;
}
.product__card:hover {
  box-shadow: 0 25px 70px -15px rgb(0 0 0 / 25%);
}
.product__picture-box {
  height: 350px;
  width: 300px;
  object-fit: cover;
}
.product__img {
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.product__link {
  color: currentColor;
  text-decoration: none;
}
.product__title {
  color: #4a5568;
  text-shadow: 0 1px 2px rgb(0 0 0 / 6%);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0.3rem 0;
  width: 100%;
  height: 36px;
  letter-spacing: 0.08rem;
}
.product-screen__title,
.cart__title {
  color: #4a5568;
  text-shadow: 0 1px 2px rgb(0 0 0 / 6%);
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  width: 100%;
  letter-spacing: 0.08rem;
}
.cart__title {
  margin: 1rem 0 2rem 1rem;
}
.product-screen__head {
  list-style: none;
  margin-bottom: 1rem;
}
.product__price {
  font-family: "Racing Sans One", sans-serif;
  text-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  font-size: 2.2rem;
  color: #4a5568;
  margin: 0.3rem 0;
}
.product__card-body {
  width: calc(100% - 4rem);
  padding: 1rem 2rem;
}
.product-screen__container {
  display: grid;
  grid-template-areas:
    "back back back"
    "image info addtocart";
  grid-template-columns: 1fr 1fr 280px;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  column-gap: 10px;
  row-gap: 10px;
  margin: 3rem auto;
}
.product-screen__back-to-results {
  grid-area: back;
}
.product-screen__img-box {
  grid-area: image;
  max-width: 450px;
  max-height: 600px;
  margin: 0 auto;
}
.product-screen__img {
  border-radius: 2%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-screen__info {
  grid-area: info;
}
.product-screen__info-container {
  padding: 0rem 1rem;
}
.product-screen__list {
  list-style: none;
  margin-bottom: 3rem;
}
.product-screen__price-list {
  list-style: none;
  margin-bottom: 2rem;
}
.product-screen__price-list-quantity {
  list-style: none;
  margin-bottom: 0;
}
.product-screen__sub-header {
  font-size: 1.7rem;
  font-weight: 600;
  color: #4a5568;
  text-shadow: 0 1px 2px rgb(0 0 0 / 6%);
}
.product-screen__field {
  margin-top: 0.5rem;
  color: #4a5568;
}
.product-screen__rating {
  list-style: none;
  margin-bottom: 3rem;
}
.product-screen__add-to-cart {
  grid-area: addtocart;
}
.product-screen__cart-box {
  color: #4a5568;
  border: solid 1px #4a5568;
  border-radius: 3%;
  padding: 2rem 2rem 1rem 2rem;
}
.product-screen__price {
  font-family: "Racing Sans One", sans-serif;
  text-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  font-size: 2.2rem;
  color: #4a5568;
  margin: 0.3rem 0;
}
.product-screen__features-box {
  font-size: 1.7rem;
  font-weight: 600;
  color: #4a5568;
  text-shadow: 0 1px 2px rgb(0 0 0 / 6%);
  margin-bottom: 1rem;
}
.product-screen__feature {
  list-style: circle;
}
.product-screen__button {
  margin-bottom: 0;
  list-style: none;
}
.product-screen__stock--success {
  color: forestgreen;
}
.product-screen__stock--error {
  color: firebrick;
}
.product-screen__quantity {
  list-style: none;
}
.product-screen__select-quantity,
.cart__select-quantity {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: #4a5568;
}
.product-screen__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-screen__row-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.rating {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  letter-spacing: 0.2rem;
  color: #805ad5;
}
.rating__text {
  color: #4a5568;
}
.product__btn,
.product-screen__btn {
  margin: 1rem auto;
  width: 100%;
}
.footer {
  margin-top: 5rem;
  background-color: #f2f3f5;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.footer__link-container {
  list-style: none;
  padding: 0;
}
.footer__link-container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: #805ad5 solid 2px;
  padding-top: 2rem;
}
.footer__link {
  list-style: none;
  margin: 1rem;
}
.footer__hyperlink {
  color: #718096;
  text-decoration: none;
}
.footer__hyperlink:hover {
  color: #ac96da;
  text-decoration: underline;
}
.footer__links {
  display: grid;
  margin-bottom: 2rem;
  grid-template-areas: "one two three four";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  column-gap: 20px;
  row-gap: 10px;
}
.footer__links-box {
  width: 178px;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.footer__links-box:nth-of-type(1) {
  grid-area: one;
  transform: scale(0.75);
}
.footer__links-box:nth-of-type(2) {
  grid-area: two;
}
.footer__links-box:nth-of-type(3) {
  grid-area: three;
}
.footer__links-box:nth-of-type(4) {
  grid-area: four;
}
.footer__header {
  color: #4a5568;
}

/*tablet cartscreen*/
@media only screen and (max-width: 999px) {
  .cart {
    grid-template-areas:
      "header header"
      "summary summary"
      "products products";
    grid-template-columns: 1fr;
  }
}
/*mobile cartscreen*/
@media only screen and (max-width: 689px) {
  .cart__row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image item item select price"
      "image item item btn betn";
    margin: 20px 0;
  }
}
/*mobile cartscreen ultra-narrow*/
@media only screen and (max-width: 499px) {
  .cart__row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image item item item item"
      "image price price select select"
      "image btn btn btn btn";
  }
  .cart__price {
    margin: 5px 0;
    padding-left: 2rem;
  }
  .cart__button-box {
    margin-left: 2rem;
  }
}
/* FOOTER TABLET */
@media only screen and (max-width: 949px) {
  .product-screen__container {
    display: grid;
    grid-template-areas:
      "back back"
      "image  addtocart"
      "info info";
    grid-template-columns: 1fr 280px;
    grid-template-rows: auto;
  }
  .footer__links {
    grid-template-areas: "one two" "three four";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
  }
  .grid-container {
    grid-template-rows: 10rem 1fr 48rem;
  }
}
/* Nav and footer mobile */
@media only screen and (max-width: 649px) {
  .product-screen__container {
    display: grid;
    grid-template-areas:
      "back"
      "image"
      "info"
      "addtocart";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .footer__links {
    grid-template-areas: "two" "three" "four";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar-right {
    flex-direction: column;
  }
  .footer__links-box:nth-of-type(1) {
    display: none;
  }
  .grid-container {
    grid-template-rows: 25rem 1fr 62rem;
  }
  .navbar {
    justify-content: flex-start;
  }
  .product__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  }
  .product__picture-box {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .btn {
    margin: 7px 0;
  }
}
